In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
import pyspark
import pandas as pd
from pyspark.sql import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('Data_Understanding').getOrCreate()
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.types import StructType, StructField, IntegerType
import numpy as np
from pyspark.sql import functions as F




pandasDF = pd.read_csv('/home/ubuntu/BDAS_yang124/Datasets/College.csv')
sparkDF = spark.createDataFrame(pandasDF)
df = sparkDF.selectExpr(
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 "`F.Undergrad` as F_Undergrad",
 "`P.Undergrad` as P_Undergrad",
 'Outstate',
 "`Room.Board` as Room_Board",
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 "`S.F.Ratio` as S_F_Ratio",
 "`perc.alumni` as perc_alumi",
 'Expend',
"`Grad.Rate` as Grad_Rate" )
df.show()
# df.withColumn('Id_New',when(df.Rank <= 5,df.Id).otherwise('other')).drop(df.Id).select(col('Id_New').alias('Id'),col('Rank')).show()

+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+----------+------+---------+
|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumi|Expend|Grad_Rate|
+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+----------+------+---------+
|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200| 70|      78|     18.1|        12|  7041|       60|
|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500| 29|      30|     12.2|        16| 10527|       56|
|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165| 53|      66|     12.9|        30|  8735|       54|
|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875| 92|      97|      7.7|        37| 19016|       59|
|    Yes| 193|   146|    55|       16|       44|        249|        869|    7560|      4120|  800|    1500| 76|      72|     11.9|         2| 10922|       15|
|    Yes| 587|   479|   158|       38|       62|        678|         41|   13500|      3335|  500|     675| 67|      73|      9.4|        11|  9727|       55|
|    Yes| 353|   340|   103|       17|       45|        416|        230|   13290|      5720|  500|    1500| 90|      93|     11.5|        26|  8861|       63|
|    Yes|1899|  1720|   489|       37|       68|       1594|         32|   13868|      4826|  450|     850| 89|     100|     13.7|        37| 11487|       73|
|    Yes|1038|   839|   227|       30|       63|        973|        306|   15595|      4400|  300|     500| 79|      84|     11.3|        23| 11644|       80|
|    Yes| 582|   498|   172|       21|       44|        799|         78|   10468|      3380|  660|    1800| 40|      41|     11.5|        15|  8991|       52|
|    Yes|1732|  1425|   472|       37|       75|       1830|        110|   16548|      5406|  500|     600| 82|      88|     11.3|        31| 10932|       73|
|    Yes|2652|  1900|   484|       44|       77|       1707|         44|   17080|      4440|  400|     600| 73|      91|      9.9|        41| 11711|       76|
|    Yes|1179|   780|   290|       38|       64|       1130|        638|    9690|      4785|  600|    1000| 60|      84|     13.3|        21|  7940|       74|
|    Yes|1267|  1080|   385|       44|       73|       1306|         28|   12572|      4552|  400|     400| 79|      87|     15.3|        32|  9305|       68|
|    Yes| 494|   313|   157|       23|       46|       1317|       1235|    8352|      3640|  650|    2449| 36|      69|     11.1|        26|  8127|       55|
|    Yes|1420|  1093|   220|        9|       22|       1018|        287|    8700|      4780|  450|    1400| 78|      84|     14.7|        19|  7355|       69|
|    Yes|4302|   992|   418|       83|       96|       1593|          5|   19760|      5300|  660|    1598| 93|      98|      8.4|        63| 21424|      100|
|    Yes|1216|   908|   423|       19|       40|       1819|        281|   10100|      3520|  550|    1100| 48|      61|     12.1|        14|  7994|       59|
|    Yes|1130|   704|   322|       14|       23|       1586|        326|    9996|      3090|  900|    1320| 62|      66|     11.5|        18| 10908|       46|
|     No|3540|  2001|  1016|       24|       54|       4190|       1512|    5130|      3592|  500|    2000| 60|      62|     23.1|         5|  4010|       34|
+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+----------+------+---------+
only showing top 20 rows

In [12]:
d = {}
# Fill in the entries one by one
df = df.drop('CN','Private')
for col in df.columns:
      d[col] = df.approxQuantile(col,[0.25,0.75],0.25)
      print(col+" done")
    
print(d)
for col in df.columns:
    df_new = df.withColumn(col, \
    F.log(F.when(df[col] < d[col][0],d[col][0])\
    .when(df[col] > d[col][1], d[col][1])\
    .otherwise(df[col] ) +1).alias(col))
    print(col+" done")

df_new.show()
# assembler = VectorAssembler().setInputCols(df_new.columns).setOutputCol("features")
# transformed = assembler.transform(df_new)
# scaler = MinMaxScaler(inputCol="features",outputCol="scaledFeatures")
# scalerModel =  scaler.fit(transformed.select("features"))
# scaledData = scalerModel.transform(transformed)
# def extract(row):
#     return (row.pmid, )+tuple(row.scaledFeatures.toArray().tolist())
# final_data = scaledData.select("pmid","scaledFeatures").rdd.map(extract).toDF(df.columns)
# final_data.show()

Apps done
Accept done
Enroll done
Top10perc done
Top25perc done
F_Undergrad done
P_Undergrad done
Outstate done
Room_Board done
Books done
Personal done
PhD done
Terminal done
S_F_Ratio done
perc_alumi done
Expend done
Grad_Rate done
{'Enroll': [35.0, 6392.0], 'Grad_Rate': [10.0, 118.0], 'perc_alumi': [0.0, 64.0], 'Room_Board': [1780.0, 8124.0], 'F_Undergrad': [139.0, 31643.0], 'Expend': [3186.0, 56233.0], 'Top10perc': [1.0, 96.0], 'Accept': [72.0, 26330.0], 'P_Undergrad': [1.0, 21836.0], 'Personal': [250.0, 6800.0], 'Books': [96.0, 2340.0], 'S_F_Ratio': [2.5, 39.8], 'Terminal': [24.0, 100.0], 'Top25perc': [9.0, 100.0], 'Apps': [81.0, 48094.0], 'PhD': [8.0, 103.0], 'Outstate': [2340.0, 21700.0]}
Apps done
Accept done
Enroll done
Top10perc done
Top25perc done
F_Undergrad done
P_Undergrad done
Outstate done
Room_Board done
Books done
Personal done
PhD done
Terminal done
S_F_Ratio done
perc_alumi done
Expend done
Grad_Rate done

AnalysisException: "cannot resolve '`pmid`' given input columns: [Terminal, Enroll, Apps, PhD, scaledFeatures, S_F_Ratio, Room_Board, F_Undergrad, P_Undergrad, features, Expend, Outstate, Top25perc, Top10perc, Personal, Grad_Rate, Books, perc_alumi, Accept];;\n'Project ['pmid, scaledFeatures#6554]\n+- Project [Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F_Undergrad#78L, P_Undergrad#79L, Outstate#48L, Room_Board#80L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S_F_Ratio#81, perc_alumi#82L, Expend#56L, Grad_Rate#6495, features#6529, UDF(features#6529) AS scaledFeatures#6554]\n   +- Project [Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F_Undergrad#78L, P_Undergrad#79L, Outstate#48L, Room_Board#80L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S_F_Ratio#81, perc_alumi#82L, Expend#56L, Grad_Rate#6495, UDF(named_struct(Apps_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Apps#41L as double), Accept_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Accept#42L as double), Enroll_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Enroll#43L as double), Top10perc_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Top10perc#44L as double), Top25perc_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Top25perc#45L as double), F_Undergrad_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(F_Undergrad#78L as double), P_Undergrad_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(P_Undergrad#79L as double), Outstate_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Outstate#48L as double), Room_Board_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Room_Board#80L as double), Books_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Books#50L as double), Personal_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(Personal#51L as double), PhD_double_VectorAssembler_460e90a0685f6d8a1cf2, cast(PhD#52L as double), ... 10 more fields)) AS features#6529]\n      +- Project [Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F_Undergrad#78L, P_Undergrad#79L, Outstate#48L, Room_Board#80L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S_F_Ratio#81, perc_alumi#82L, Expend#56L, LOG((CASE WHEN (cast(Grad_Rate#83L as double) < 10.0) THEN 10.0 WHEN (cast(Grad_Rate#83L as double) > 118.0) THEN 118.0 ELSE cast(Grad_Rate#83L as double) END + cast(1 as double))) AS Grad_Rate#6495]\n         +- Project [Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F_Undergrad#78L, P_Undergrad#79L, Outstate#48L, Room_Board#80L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S_F_Ratio#81, perc_alumi#82L, Expend#56L, Grad_Rate#83L]\n            +- Project [Private#40, Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F.Undergrad#46L AS F_Undergrad#78L, P.Undergrad#47L AS P_Undergrad#79L, Outstate#48L, Room.Board#49L AS Room_Board#80L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S.F.Ratio#54 AS S_F_Ratio#81, perc.alumni#55L AS perc_alumi#82L, Expend#56L, Grad.Rate#57L AS Grad_Rate#83L]\n               +- LogicalRDD [CN#39, Private#40, Apps#41L, Accept#42L, Enroll#43L, Top10perc#44L, Top25perc#45L, F.Undergrad#46L, P.Undergrad#47L, Outstate#48L, Room.Board#49L, Books#50L, Personal#51L, PhD#52L, Terminal#53L, S.F.Ratio#54, perc.alumni#55L, Expend#56L, Grad.Rate#57L]\n"